@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right ,#0B2027,#40798C,#70A9A1,#CFD7C7,#F6F1D1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #284b5765;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B2027;
    text-align: center;
    text-shadow: 1px 1px 2px #071318a6;
}

h2 {
    color: #40798C;
}

p {
    text-align: justify;
}